.navbar__container {

	position: absolute;

	top: 0;
	left: 0;

	height: 72px;
	width: 100%;
	background-color: white;

	display: flex;
	justify-content: space-around;
	align-items: center;



}

.logo__paypal {

	width: 1.75rem;
	height: 1.875rem;
	background-image: url(https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-mark-color.svg) !important;
	background-size: cover;
	background-position: left;
	background-position-x: left;
	background-position-y: center;
	background-clip: content-box;
	background-origin: content-box;
}

.link__navbar {
	/* font-weight: 400; */
	position: relative;

	color: #0c0c0d !important;
	font-size: 1rem;
	line-height: 1.5rem;
	text-transform: initial;
	padding: 0 !important;
	font-weight: 600;
	letter-spacing: normal;
	background-color: transparent;
	text-decoration: none;
}

.boton__navbar__login {
	padding-top: 11px;
	padding-bottom: 11px;
	border: 0.0625rem solid #142c8e;
	color: #142c8e;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-family: PayPalSansBig-Regular,
		Helvetica Neue,
		Arial,
		sans-serif;
	font-weight: 400;
	background-color: #fff;
	box-shadow: none;
	/* display: block; */
	position: relative;
	max-width: 320px;
	/* padding: 13px 24px; */
	margin-bottom: 0;
	background: #0070ba;
	/* font-size: 15px; */
	/* font-size: .9375rem; */
	/* font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif; */
	/* font-weight: 700; */
	/* line-height: 22px; */
	-webkit-font-smoothing: antialiased;
	/* color: #fff; */
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 25px;
	/* border: none; */
	/* box-sizing: border-box;*/
	min-width: 84px;
	display: inline-block;
	margin-left: 9px;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.header__buttons {
	display: flex;
}

.boton__navbar__signup {
	background-color: #003087;
	font-size: 1rem;
	line-height: 1.5rem;
	/* background-color: #003087; */
	padding: 0.75rem 1.5rem;
	margin-left: 1rem;
	font-family: PayPalSansBig-Regular,
		Helvetica Neue,
		Arial,
		sans-serif;
	display: block !important;
	font-weight: 400;
	color: #fff;
	flex: 0 0 auto;
	position: relative;
	max-width: 320px;
	/* padding: 13px 24px; */
	margin-bottom: 0;
	background: #0070ba;
	/* font-size: 15px; */
	/* font-size: .9375rem; */
	/* font-family: PayPalSansSmall-Regular,Helvetica Neue,Arial,sans-serif; */
	/* font-weight: 700; */
	/* line-height: 22px; */
	-webkit-font-smoothing: antialiased;
	/* color: #fff; */
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 25px;
}