@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.area__tercera__interfaz {
	position: absolute;
	top: 1986px;
	left: 0;
	height: 680px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: white;
	z-index: 5;
}

.area__tercera__interfaz__container {
	position: relative;
	left: 35px;
	height: 680px;
	width: 1260px;
	display: flex;
	align-items: center;
}

.titulo__tercera__interfaz {
	width: 400px;
	font-family: 'Nunito Sans',
		sans-serif;
	font-weight: 900;
	font-size: 50;
}

.parrafo__tercera__interfaz {
	font-family: 'Source Sans Pro',
		sans-serif;
	font-size: 20;
	line-height: 30px;
	width: 380px;
}

.area__tercera__interfaz__texto {
	margin-left: 130px;
}