@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.area__cuarta__interfaz {
	position: absolute;
	top: 2666px;
	left: 0;
	height: 1058px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #f6f6f6;
	z-index: 5;
}

.area__cuarta__interfaz__container {
	text-align: center;
	position: relative;
	top: 100px;
	left: 35px;
	height: 680px;
	width: 1260px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titulo__cuarta__interfaz {
	width: 100%;
	font-family: 'Nunito Sans',
		sans-serif;
	font-weight: 900;
	font-size: 50;
}

.parrafo__cuarta__interfaz {
	font-family: 'Source Sans Pro',
		sans-serif;
	font-size: 20;
	line-height: 30px;
	width: 950px;
}

.cuarta__imagen {
	height: 850px;
	width: 1150px;
}

.area__cuarta__interfaz__imagen {
	position: relative;
	top: -100;
}